<h1>Questions list</h1>
<h3>Test: <%= @test.title %> </h3>

<p><%= link_to 'Create', new_test_question_path %></p>

<%= render 'shared/questions_list', resource: @questions %>

<%= render 'shared/footer' %>
