<ul class='admin_navbar'>
  <li class='admin_navbar'><%= t('.admin_bar') %></li>
  <li class='admin_navbar'><%= link_to 'Test Guru', admin_tests_path %></li>
  <li class='admin_navbar' style='float:right'><%= link_to t('layouts.navbar.sign_out'), destroy_user_session_path,
                              method: :delete,
                              data: { confirm: t('main.confirm') } %></li>
</ul>
