<tr class="table-primary text-center align-middle">
  <td class="text-center align-middle"><%= badge.name %></td>
  <td class="text-center align-middle"><%= image_tag(badge.image_ref, size: "80x60") %>
  <td class="text-center align-middle">
    <%= link_to  t("main.show"), badge_path(badge), class: "btn btn-primary" %>
  </td>
</tr>
