<% flash.each do |key, message| %>
  <% case key %>
  <% when "alert" %>
    <div class="alert alert-danger d-inline-flex" role="alert">
        <%= content_tag :p, message, class: "flash #{key}" %>
    </div>
  <% when "notice" %>
    <div class="alert alert-warning d-inline-flex" role="alert">
        <%= content_tag :p, message, class: "flash #{key}" %>
    </div>
  <% else %>
    <div class="alert alert-primary d-inline-flex" role="alert">
        <%= content_tag :p, message, class: "flash #{key}" %>
    </div>
  <% end %>
<% end %>
