<footer>
  <p> 
  	Author: Aleksandr Seleznev <br>
  	<%= link_to 'Project Test-Guru', github_url("misterMK24", "test-guru") %><br>
    Description: allows create and pass some tests<br>

  	<%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com' %>,
    <%= current_year %>.
  </p>
</footer>