<li>
  <%= answer.body %><br>
  <%= link_to t('main.show'), admin_answer_path(answer) %>
  <%= link_to t('main.edit'), edit_admin_answer_path(answer) %>
  <%= link_to t('main.delete'), admin_answer_path(answer),
        method: :delete,
        data: { confirm: t('main.confirm') } %>
</li>
