<!DOCTYPE html>
<html>
  <h1>About Page</h1>
  <body>
    <p> This is application named TestGuru</p>
    <p>Main functional:</p>
	  <ol>
	  <li>Create tests and manage them</li>
	  <li>Authentication</li>
	  <li>Manage access</li>
	  <li>Do tests</li>
	  <li>Ability to publish results to the social networks</li>
	  </ol>	
	  <footer>
	    <a href="https://thinknetica.com" target="_blank" rel="nofollow">Thinknetica site</a>
  	  </footer>
  </body>

</html>